@font-face {
    src: url(../fonts/Montserrat-Medium.otf);
    font-family: 'font';
}

/* @font-face{
    src: url(../fonts/Nunito-Regular.ttf);
    font-family: 'font1';
} */
@font-face {
    src: url(../fonts/Montserrat-ExtraBold.otf);
    font-family: 'font2';
}

:root {
    --vert: rgb(4, 88, 10);
    --jaune: rgb(255, 192, 0);
    --blanc: #fff;
    --black: #000;
    --cendre: #eee;
    --bleu: #105191;
    --vert: #066b63;
}

* {
    font-family: font;
}

body {
    background: var(--cendre);
}

.bloc_page h2 {
    font-family: 'font2';
    color: var(--vert);
}

.bloc_page header {
    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.342)), url(../images/contact.jpg);
    /* padding: 0 100px; */
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
}

.bloc_page header nav ul li {
    margin-right: 30px;
}

.bloc_page header nav ul li a i.menu {
    font-size: 25px;
    display: none;
}

.bloc_page header nav ul li a.active {
    font-weight: bold;
    color: var(--jaune);
}

.bloc_page header nav ul li a {
    text-decoration: none;
    color: var(--blanc);
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    transition: .4s;
}

.bloc_page header nav ul li a:hover {
    color: var(--jaune);
    transition: .4s ease;
}

/*Sidebar*/
.bloc_page header nav .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #0000008c;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) !important;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.bloc_page header nav .sidebar li {
    margin-top: 15px;
}

.bloc_page header nav .sidebar li a {
    padding: 0 30px;
}

.bloc_page header nav .sidebar li a i {
    font-size: 35px;
}

.bloc_page header .ban_text {
    margin-top: 70px;
}

.bloc_page header .ban_text .row .col h2 {
    color: var(--jaune);
    font-family: font2;
}

.bloc_page header .ban_text .row .col li {
    color: var(--blanc);
    list-style: square;
    margin-top: 15px;
}

.bloc_page header .ban_text .row .col li::marker {
    color: var(--jaune);
}

.bloc_page header .ban_text .row .col p span {
    color: var(--jaune);
    font-family: 'font2';
}

/*fin banniere*/


/*Contact*/
section.autre .container .row .col {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.autre .container .row .col a {
    text-decoration: none;
}

section.autre .container .row .col a .card {
    border: none;
    padding: 15px 30px;
    height: 30vh;
    min-width: 270px    ;
    box-shadow: 0 3px 5px #ccc;
}

section.autre .container .row .col a .card:hover {
    background: var(--vert);
    transition: all .4s;
}

section.autre .container .row .col a .card:hover .icon i {
    color: var(--jaune);
}

section.autre .container .row .col a .card .card_text h3 {
    font-weight: bold;
}

section.autre .container .row .col a .card:hover h3 {
    color: var(--blanc);
}

section.autre .container .row .col a .card:hover p {
    color: var(--blanc);
}

section.autre .container .row .col .card .icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

section.autre .container .row .col .card .icon i {
    font-size: 50px;
    color: var(--vert);
}

section.localisation .container iframe {
    width: 100%;
    height: 50vh;
    margin-top: 35px;
}


section.localisation .container .row .col p i {
    font-size: 25px;
    color: var(--jaune);
    display: inline-block;
    margin-right: 15px;
}

footer {
    background: var(--vert);
    color: var(--blanc);

}


footer .container img {
    width: 75px;
}

@media (min-width: 320px) and (max-width: 560px) {

    /* .bloc_page header .container nav{
        display: none;
    } */
    .bloc_page header {
        height: 40vh;

    }

    .bloc_page header .ban_text .row {
        display: flex;
        flex-direction: column;
    }

    .bloc_page header .ban_text .row .col h2 {
        text-align: center;
        /* font-size: 35px; */
    }

    .bloc_page header nav .sidebar {
        width: 100%;
    }

    .bloc_page header nav ul li a i.menu {
        display: block;
    }

    .bloc_page header nav .hideOnMoblie {
        display: none;
    }

    section.autre .container .row .col a .card {
        height: 30vh;
        min-width: 80vw;
        max-width: 80vw;
    }

    section.localisation .container .row {
        display: block;
    }

    section.localisation .container iframe {
        height: 25vh;
    }
}

@media (min-width: 561px) and (max-width: 767px) {
    .bloc_page header {
        height: 30vh;

    }

    .bloc_page header nav .hideOnMoblie {
        display: none;
    }

    .bloc_page header nav .sidebar {
        width: 100%;
    }

    .bloc_page header nav ul li a i.menu {
        display: block;
    }

    .bloc_page header .ban_text .row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .autre .container .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    section.autre .container .row .col a .card {
        height: 20vh;
        width: 250px;
    }
    section.localisation .container iframe {
        height: 17vh;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .bloc_page header {
        height: 30vh;
    }
    section.autre .container .row .col a .card {
        height: 20vh;
        width: 4rem;
    }
    
    .autre .container .row {
        display: flex;
        justify-content: space-evenly;
        gap: 5px;
    }
    section.localisation .container iframe {
        height: 17vh;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .bloc_page header {
        height: 30vh;
    }
    section.autre .container .row .col a .card {
        height: 20vh;
        width: 4rem;
    }
    .autre .container .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-content: center;
    }
    section.localisation .container iframe {
        height: 17vh;
    }
}

